header {
    
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;

    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 50px;    
        height: 80px;
        z-index: 100;
        gap: 1rem;
        position: relative;
        max-width: 1200px;

        & a:first-child {
            position: absolute;
            left: 5%;
            h1 {
                font-size: 24px;
                font-weight: 700;
                color: #000;
                margin: 0 100px 0 0;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            color: #000;
        }
        a {
            text-decoration: none;
            :hover {
                text-decoration: underline;
                color:rgb(33, 0, 86)
            }
        }

    }

}