.project-list {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 2%;
    .project-card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        height: auto;
        min-width: 30%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
        h2 {
          margin-top: 0;
          padding-top: 10px;
          text-align: center;
        }
        
        p {
          margin: 0;
        }
        
        &__name {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
        
        &__description {
          margin-bottom: 0.8rem;
        }
        
        &__cost {
          font-weight: bold;
        }
        
        &__amount-raised {
          font-weight: bold;
        }
      }
      
}

