.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  
    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .details {
      margin-bottom: 1rem;
    }
  
    .projectsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
  
      .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        border: none;
        height: auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .donut {
          width: 90%;
          margin-bottom: 1.2rem;
        }

        .projectImage {
          margin-bottom: 1rem;
          width: 90%;
          height: 150px;
          border-radius: 15px;
        }

  
        .projectTitle {
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 1rem;
          color: black;
        }
  
        .projectDescription {
          font-size: 1rem;
          text-align: center;
          margin-bottom: 1rem;
        }
  
        .projectAmount {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0.2rem;
  
          .projectAmountRequired,
          .projectAmountCollected {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.2rem;
  
            .projectAmountRequiredTitle,
            .projectAmountCollectedTitle {
              font-size: 0.8rem;
              font-weight: bold;
              color: #666;
              text-transform: uppercase;
              margin-bottom: 0.2rem;
            }
  
            .projectAmountRequiredAmount,
            .projectAmountCollectedAmount {
              font-size: 1rem;
              font-weight: bold;
              // margin-bottom: 1rem;
            }

            .projectAmountCollectedAmount {
              margin-bottom: 1rem;
            }
          }
        }

        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .donateButton {
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }
  