.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .Footer {
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    .info {
        font-family: 'Arapey';
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        .saying {
          font-family: 'Arapey/italic';
          font-size: 3rem;
          text-align: center;
        //   text-decoration: underline;
        //   text-decoration-color: #FF4242; /* Set underline color */
        //   text-underline-offset: 1.5px; /* Set distance between text and underline */
          line-height: 1; /* Set the line height */
        }
    }

    .cards {
        height: 50%;
        position:relative;


        .midCard{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 1rem;
            padding:1%;
            background-color: #fff;
            z-index: 1;
            .card-title {
                font-size: 120%;
                margin-bottom: 2%;
                color: #FF4242;
                font-weight: bold;
              }
          
              .card-text {
                font-size: 100%;
                margin-bottom: 2%;
              }
            
        }

        .leftCard{
            position: absolute;
            top: 28%;
            left: 22%;
            transform: translate(-50%, -50%);
            height:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 1rem;
            padding:1%;
            background-color: #fff;
            z-index: 1;
            .card-title {
                font-size: 100%;
                margin-bottom: 2%;
                color: #FF4242;
                font-weight: bold;
              }
          
              .card-text {
                font-size: 100%;
                margin-bottom: 2%;
              }
            .card-image{
                width: 100%;
                height:100%;
            }

            
        }

    }
}
