.registration {
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    margin-top: 40px;

    .regbtn {
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }
}